*,
*:before,
*:after,
*:first-letter,
p:first-line,
div:first-line,
blockquote:first-line,
li:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

@media print {
    a[href]:after,
    abbr[title]:after { content: ""; }
    .no-break { page-break-inside: avoid; }
    .page-header { margin-top: 0; }
}

table .no-break:first-of-type { margin-top: -20px; }

#maxGen {
    border: none;
    padding: 6px 0;
}

.pedigree { border: 2px solid #ddd; }

.pedigree td {
    border-radius: 0;
    border: 1px solid #eee;
}

.no-print,
.pedigree img { display: none; }

.text-secondary { color: #000 !important; }

#zend-developer-toolbar { display: none; }