#maxGen {
    display: inline-block;
    width: auto;
    padding: 0.5rem;
    margin: 0 0.6rem;
}

.pedigree {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 1rem;
}

.pedigree td {
    height: 2em;
    padding: 8px;
    border-radius: 6px;
    overflow: hidden;
}

.pedigree td:hover {
    opacity: 0.8;
}

.pedigree.max-gen-1 td {
    width: 50%
}

.pedigree.max-gen-2 td {
    width: 33%
}

.pedigree.max-gen-3 td {
    width: 25%
}

.pedigree.max-gen-4 td {
    width: 20%
}

.pedigree.max-gen-5 td {
    width: 17%
}

.pedigree.max-gen-6 td {
    width: 14%
}

.pedigree.max-gen-7 td {
    width: 13%
}

.pedigree.max-gen-8 td {
    width: 11%
}

.pedigree.max-gen-9 td {
    width: 10%
}

.ancestors th,
.ancestors td {
    text-align: center;
}

.ancestors .text-left {
    text-align: left;
}

#kinship-graph {
    padding: 0;
    margin: 0;
}

#kinship-graph .tooltip {
    margin-top: -0.5rem;
}