#kinship-graph .scene-tooltip {
    color: #333333;
    background: rgb(235, 235, 235, 0.7);
    border: 1px solid #dddddd;
    border-radius: 4px;
    padding: 2px 6px;
}

#kinship-graph .scene-tooltip:empty {
    display: none;
}